/** Variabel **/
$backgrounds: (
  main: #fefefe,
  header: #00ff00,
  search: #7A1CAC,
  input: #ffb6b1,
  button: #ff0,
  card: #ffb6c1,
  hover-card: #ffa
);
$color-main: #000;
$borders: (
  thick: 5px solid $color-main,
  thin: 2px solid $color-main
);
$box-shadow : 4px 4px 0 black;

@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: "Roboto Mono", monospace;
}

a {
  text-decoration: none;
}

/** Header **/
.header {
  background-color: map-get($backgrounds, header);
  color: $color-main;
  padding: 15px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: map-get($borders, thick);
  transition: background-color 0.3s;

  &:hover {
    background-color: lighten(map-get($backgrounds, header), 10%);
  }
}

/** Search Bar **/
.search-bar {
  display: flex;
  padding: 10px;
  background-color: map-get($backgrounds, search);
  border: 3px solid $color-main;
  border-width: 3px 0;
  transition: background-color 0.3s;

  &:hover {
    background-color: lighten(map-get($backgrounds, search), 10%);
  }

  input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 1rem;
    border: map-get($borders, thin);
    background-color: map-get($backgrounds, input);
    color: $color-main;
    outline: none;
    transition: background-color 0.3s;

    &:hover {
      background-color: lighten(map-get($backgrounds, input), 10%);
    }
  }

  button {
    padding: 10px;
    font-size: 1rem;
    border: map-get($borders, thin);
    background-color: map-get($backgrounds, button);
    font-weight: bold;
    color: $color-main;
    cursor: pointer;
    margin-left: 5px;
    transition: background-color 0.3s, transform 0.2s;

    &:hover {
      background-color: lighten(map-get($backgrounds, button), 10%);
      
    }
  }
}

/** Container **/
.container {
  .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 0.5rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  .items {
    flex: 1 1 calc(50% - 8px);
    background-color: #f2f2f2;
    padding: 3px;
    border: 2px solid $color-main;
    box-shadow: $box-shadow;
    transition: background-color 0.3s, transform 0.2s;

    &:hover {
      background-color: map-get($backgrounds, hover-card);
    }

    @media (min-width: 768px) {
      flex: 1 1 calc(25% - 8px);
    }
  }

  .video-link {
    text-decoration: none;
    color: $color-main;
  }

  .video-thumbnail {
    background-color: #ddd;
    color: $color-main;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    border: 2px solid $color-main;
    margin-bottom: 8px;
    overflow: hidden;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.03);
    }
  }

  .video-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .video-title {
    font-size: 0.8em;
    font-weight: bold;
    margin: 8px 0;
    line-height: 1.2;
    border-bottom: 2px solid $color-main;
    padding-bottom: 4px;
    transition: color 0.3s;
    text-align: center;
    padding: 8px;

    &:hover {
      color: lighten($color-main, 20%);
    }
  }

  .download {
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    text-align: center;
    border: 2px solid black;
    box-shadow: $box-shadow;
    margin: 8px;
    background-color: #387478;
    transition: background-color 0.3s, transform 0.2s;

    a {
      color: white;
    }

    &:hover {
      background-color: lighten(#387478, 15%);
      
    }
  }

  .video-details {
    font-size: 0.7em;
    color: #333;
    line-height: 1.3;
    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      justify-content: space-between;
      li {
        padding: 4px;
        box-shadow: $box-shadow;
        text-align: center;
        border: 2px solid black;
        width: 30%;
        margin: 8px 0;
        background-color: orange;
        font-weight: bold;
        transition: background-color 0.3s, transform 0.2s;

        &:hover {
          background-color: lighten(orange, 10%);
          transform: scale(1.05);
        }
      }
    }
  }

  /** Variabel warna brutalism **/

  $bg-colors: (
    "pink": #ff69b4,
    "yellow": #ffdd00,
    "green": #00ff00,
    "cyan": #00ffff,
    "orange": #ff4500
  );
  $border-color: #000;
  $text-color: #000;
  $shadow-color: rgba(0, 0, 0, 0.3); // Warna shadow

  /** Style Tags Brutalism **/
  .tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
    padding: 8px;
    
    

    .tag {
      padding: 2px 4px; // Ukuran lebih kecil
      font-size: 0.6rem; // Font lebih kecil
      font-weight: bold;
      color: $text-color;
      background-color: nth(map-values($bg-colors), random(length($bg-colors)));
      border: 2px solid $border-color; // Border lebih tipis
      text-transform: lowercase;
      text-align: center;
      box-shadow: $box-shadow; // Shadow kasar
      transition: transform 0.1s ease-in-out;
      cursor: pointer;
    

      &:hover {
        
        background-color: lighten(nth(map-values($bg-colors), random(length($bg-colors))), 10%);
        box-shadow: 6px 6px 0 $shadow-color; // Shadow lebih kuat saat hover
      }
    }
  }
}
